body{
    background-image: url(./zahraa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
 header{
        background: #FA5E21;
        position: absolute;
        width:1440px ;
        height:163px ;
        left: 0px;
        top: 0px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: inherit;
        font-size: 70px;
        text-align: center;
 }


button{
    width: 758px;
    height: 143px;
    top: 394px;
    left: 324px;
    border-radius: 45px;
    background-color: white;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: inherit;
    margin-top: 80px;
    margin-left: 299px;
}