
 header{
     position: absolute;
     width: 1440px;
     height: 360px;
     left: 0px;
     background: url(./zahraa.jpg);
     
 }


button{
    width: 758px;
    height: 143px;
    top: 394px;
    left: 324px;
    border-radius: 45px;
    background-color: #B2DCDB;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: inherit;
    margin-top: 80px;
    margin-left: 299px;
    
}