body{
    background-image: url(./zahraa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


header{
    width:1440px ;
    height:50px ;
    background-color: #FA5E21;
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: inherit;
    text-align: center;
    padding-top: 80px;
    font-size: 70px;
    padding-bottom: 50px;
}

input{
    
}

.container{
    
}

